body, html {
    margin: 0;
    padding: 0;
}

body>header{
    background: cadetblue;
    margin: 0;
    padding: 30px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav, ul, h1 {
    margin: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    font-size: large;
    margin-right: 5px;
    padding: 3px;
    flex-grow: 1;
    text-align: center;
}

ul, ol{
    list-style: none;
    padding: 0;
}

main{
    padding: 20px;
}

h1{
    color: #61380E;
    margin-bottom: 0;
    font-size: 20pt;
    font-weight: normal;
}

h2{
    color: #61380E;
    margin-bottom: 1px;  
    border-bottom: 1px solid cadetblue;
    padding-bottom: 5px;
    font-size: 17pt;
    font-weight: normal;
}

#map{
    height: 300px;
    width: 100%;
    padding: 30px;
    background: bisque;
}

.ver{
    display: none;
}

.noVer{
    display: block;
}

.distance{
    float: right;
    font-size: 15pt;
    color: cadetblue;
    margin-top: -40px;
}

#list li:nth-child(even){
    background-color: #eee;
}